/*whole*/

html {
  background-image: url('back.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: black;
  font-size: 15px;
  height: 100vh;
}
p{
  color: lightgreen;
  text-shadow: -2px -2px 3px green;
  font-size: 20px;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
}


/*settings*/

#text{
  text-indent: 1cm;
  font-size: 20px;
}


#h2{
  text-align: center;
}
#first{
  color: lightgreen;
}
#second{
  color: darkblue ;
}







/*about*/

